<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cons</title>
</head>
<body>
    <form action="/consign" method="post" enctype="multipart/form-data">
        <label>Email</label>
        <input type="text" name="username" >
        <label>pass</label>
        <input type ="text" name="password" >
        <label>first</label>
        <input name="first" type ="text"  >
        <label>last</label >
        <input name="last" type ="text"  >
        <label>phone</label>
        <input name="phone" type ="text"  >
        <label>country</label>
        <input name="country" type ="text"  >
        <label>state</label>
        <input name="state" type ="text" >
        <label>desc</label>
        <input name="desc"  type ="text" >
        <label>image</label>
        <input name="image"  type ="file" >
        <label>resume</label>
        <input name="resume"  type ="file" >
        <button type="submit">submit</button>
    </form>
</body>
</html>