<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CONSULT KART</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="css/partical-animation.css">
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <script language="JavaScript" src="scripts/gen_validatorv31.js" type="text/javascript"></script>


    <link rel="shortcut icon" href="/favicon.ico" type="img/logos">
    <link rel="icon" href="/favicon.ico" type="img/logos">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
            integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY"
            crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
            integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo"
            crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logos/logo.png" width="300px"
                                                                      height="60px" margin-bottom:"5px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#sect"> Menu </a>
                </li>
                <!--li>
                     <a class="page-scroll" href="">How it works?</a>
                 </li-->
                <!--li>
                    <a class="page-scroll" href="">FAQ</a>
                </li-->
                <li>
                    <button type="submit" class="page-scroll btn btn-lll" data-toggle="modal" data-target="#myModal"> Be
                        a Consultant
                    </button>
                    <button type="submit" class="btn btn-ll" data-toggle="modal" data-target="#myModal1">Hire Top Talent
                    </button>
                    <button type="button" class="page-scroll btn btn-ll" data-toggle="modal" data-target="#nijin">Login
                    </button>

                    <!--button type="submit" class="btn btn-lll" data-toggle="modal" data-target="#myModal2">Login</button-->
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid-fluid -->
</nav>

<!-- Header -->
<header>
    <div id=particles-js>
    </div>
    <div class="container-fluid">

        <div class="intro-text">

            <div class="intro-lead-in">Its Nice To Meet You!!</div>
            <div class="intro-heading">Get instant help from professional CONSULTANTS</div>


        </div>
    </div>
</header>

<!-- Services Section -->
<section id="sect" class="bg-light-gray">
    <div class="container-fluid">
        <div class="row">
        </div>
        <div class="row text-center" id="start">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                <a href=#team>
                    <h4 class="service-heading">OUR DYNAMIC TEAM</h4>
                </a>

            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <a href=#services>
                    <h4 class="service-heading">OUR MAJOR SECTORS</h4>
                </a>

            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href=#contact>
                    <h4 class="service-heading">CONTACT</h4>
                </a>
                

            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Sectors</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 vat vat ">
                <img src="img/servc/sec1.jpg">
            </div>
            <div class="col-sm-4 vat ">
                <img src="img/servc/sec2.jpg">
            </div>
            <div class="col-sm-4 vat ">
                <img src="img/servc/sec3.jpg">
            </div>
            <div class="col-sm-4 vat ">
                <img src="img/servc/sec4.jpg">
            </div>
            <div class="col-sm-4 vat ">
                <img src="img/servc/sec5.jpg">
            </div>
            <div class="col-sm-4 vat ">
                <img src="img/servc/sec6.jpg">
            </div>


            <div class="col-md-4 vat ">
                <img src="img/servc/sec7.jpg">
            </div>
            <div class="col-md-4 vat ">
                <img src="img/servc/sec8.jpg">
            </div>
            <div class="col-md-4 vat ">
                <img src="img/servc/sec9.jpg">
            </div>

        </div>
    </div>


</section>

<!-- Team Section -->
<section id="team">
    <div class="container-fluid-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>

            </div>
        </div>
        <container-fluid>
            <div class="row">
                
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/02Arjun.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Arjun Sharma</h4>
                        <p class="text-muted">Director - Strategy and Finance</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/arjun.sharmab"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/arjun-sharma-aab5222a/"><i
                                            class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/03Jikku.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Jikku Luke</h4>
                        <p class="text-muted">Director – Product and Operations</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/Luke258"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/jikku-luke-7349bb45/"><i
                                            class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--div class="row"-->
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/04abhijith.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Abhijith Ullas</h4>
                        <p class="text-muted">Lead Software Engineer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/ullasabhijith?fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/05ann.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Ann Tom</h4>
                        <p class="text-muted">Architect and Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/ann-tom-03b83898/"><i
                                            class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/08raj.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Raj Rana</h4>
                        <p class="text-muted">Sustainability Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/01imran.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Imran Shaikh</h4>
                        <p class="text-muted">Sustainability Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/imran.shaikh.589"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/imran-s-3b777631/"><i
                                            class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/09paul.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Paul Spurzem</h4>
                        <p class="text-muted">Sustainability Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/10ajitesh.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Ajitesh Mondiretty</h4>
                        <p class="text-muted">Management Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    <div class="team-member">
                        <img src="img/team/11aditya.jpg" class="img-responsive img-circle image123" alt="">
                        <h4>Aditya Rajan</h4>
                        <p class="text-muted">Financial Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                


            </div>
        </container-fluid>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">Our Consultants have worked previously with global Companies</p>
        </div>
    </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="">
                    <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="img/logos/scoupe.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="">
                    <img src="img/logos/pwc.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required
                                       data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required
                                       data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required
                                       data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required
                                          data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; ConsultKart 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/Consultkart-899358500111332/"><i
                                    class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/13255731?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_company_company_13255731%2Cidx%3A0"><i
                                    class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>




<!-- login-->
<!-- Modal -->
<div id="nijin" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login to Access</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p></p>
                        <form method="post" name="myemailform" action="/login" >

                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="Email" name="username">
                            </div>

                            <div class="form-group">
                                <input type="Password" class="form-control" id="usr" placeholder="Password"
                                       name="password">
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Sumbit</button>
                            </div>
                        </form>
                        <script language="JavaScript">
                            // Code for validating the form
                            // Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
                            // for details
                            var frmvalidator = new Validator("myemailform");
                            frmvalidator.addValidation("name", "req", "Please provide your name");
                            frmvalidator.addValidation("email", "req", "Please provide your email");
                            frmvalidator.addValidation("email", "email", "Please enter a valid email address");
                        </script>
                    </div>

                </div>
            </div>
            <!--div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Sumbit</button>
            </div-->
        </div>

    </div>
</div>









<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up to be a Consultant</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p></p>
                        <form method="post" name="myemailform" action="/consign" enctype="multipart/form-data">

                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="Email" name="username">
                            </div>

                            <div class="form-group">
                                <input type="Password" class="form-control" id="usr" placeholder="Password"
                                       name="password">
                            </div>

                            <div class="form-group">
                                <input type="Password" class="form-control" id="usr" placeholder="ConfirmPassword"
                                       name="cpassword">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="First Name" name="first">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="Last Name" name="last">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="Contact Number"
                                       name="phone">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="Country" name="country">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="State" name="state">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="Description" name="desc">
                            </div>
                            <label>Avatar</label>
                            <div class="form-group">
                                <input type="file" class="form-control" id="usr" placeholder="Avatar" name="image">
                            </div>
                            <label>Resume(pdf)</label>
                            <div class="form-group">
                                <input type="file" class="form-control" id="usr" placeholder="Resume(pdf)"
                                       name="resume">
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Sumbit</button>
                            </div>
                        </form>
                        <script language="JavaScript">
                            // Code for validating the form
                            // Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
                            // for details
                            var frmvalidator = new Validator("myemailform");
                            frmvalidator.addValidation("name", "req", "Please provide your name");
                            frmvalidator.addValidation("email", "req", "Please provide your email");
                            frmvalidator.addValidation("email", "email", "Please enter a valid email address");
                        </script>
                    </div>

                </div>
            </div>
            <!--div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Sumbit</button>
            </div-->
        </div>

    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">HIRE TOP TALENTS</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p></p>
                        <form method="post" name="myemailform2" action="/clsign" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Email"
                                           name="username">
                                </div>

                                <div class="form-group">
                                    <input type="Password" class="form-control" id="usr" placeholder="Password"
                                           name="password">
                                </div>

                                <div class="form-group">
                                    <input type="Password" class="form-control" id="usr" placeholder="ConfirmPassword"
                                           name="cpassword">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="First Name"
                                           name="first">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Last Name"
                                           name="last">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Phone Number"
                                           name="phone">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Country"
                                           name="country">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="State" name="state">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Company Name"
                                           name="cname">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Company Type"
                                           name="ctype">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Description"
                                           name="desc">
                                </div>
                                <label>Company Logo</label>
                                <div class="form-group">
                                    <input type="file" class="form-control" id="usr" placeholder="Image" name="image">
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Sumbit</button>
                                </div>
                        </form>
                        <script language="JavaScript">
                            // Code for validating the form
                            // Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
                            // for details
                            var frmvalidator = new Validator("myemailform2");
                            frmvalidator.addValidation("company", "req", "Please provide the company name");
                            frmvalidator.addValidation("location", "req", "Please provide your location");

                        </script>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>




<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
        integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb"
        crossorigin="anonymous"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/partical-animation.js"></script>

</body>

</html>
